body{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
}

#myanim{
    color: #a6b0cf;
    background-color: #2A3042;
    border-color: #a6b0cf;

}

#myanim:hover{
    color: #ffffff;
    background-color: #2A3042;
}

#bigcirclelogin{
    margin-top: 17rem;
    margin-left: 43rem;
    background-color: #2A3042;
    width: 100vw;
    height: 100vh;
    border: 1px solid #2A3042;
    border-radius: 700%;
}

#thelogin{
    color: #ffffff;
    margin-top: 3.5rem;
    margin-left: 19rem;
    background-color: #2A3042;
    width: 900px;
    height: 600px;
    border: 1px solid #2A3042;
    border-radius: 5%;
    box-shadow: 1px 10px 23px 4px rgba(0,0,0,0.67);
}

#profilebox{
    margin-top: 2rem;
    width: 1300px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 1%;
    border: 1px solid white;
}